---
- name: Add Homebrew taps
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew['taps_macos'] }}"
  ignore_errors: true
  tags:
    - macos
    - macos_homebrew

- name: Install common Homebrew formulas
  community.general.homebrew:
    name: "{{ item }}"
  loop: "{{ homebrew['formulas_common'] }}"
  ignore_errors: true
  tags:
    - macos
    - macos_homebrew

- name: Install macOS-specific Homebrew formulas
  community.general.homebrew:
    name: "{{ item }}"
  loop: "{{ homebrew['formulas_macos'] }}"
  ignore_errors: true
  tags:
    - macos
    - macos_homebrew

- name: Install Homebrew casks (macOS GUI applications)
  community.general.homebrew_cask:
    name: "{{ item }}"
    accept_external_apps: true
  loop: "{{ homebrew['casks_macos_only'] }}"
  ignore_errors: true
  tags:
    - macos
    - macos_homebrew

