---
- name: Install repositories
  ansible.builtin.yum_repository:
    name: "{{ item['name'] }}"
    description: "{{ item['description'] }}"
    baseurl: "{{ item['baseurl'] | default(omit) }}"
    metalink: "{{ item['metalink'] | default(omit) }}"
    includepkgs: "{{ item['includepkgs'] | default(omit) }}"
    exclude: "{{ item['exclude'] | default(omit) }}"
    gpgcheck: "{{ item['gpgcheck'] | default(true) }}"
    gpgkey: "{{ item['gpgkey'] }}"
    repo_gpgcheck: "{{ item['repo_gpgcheck'] | default(false) }}"
    skip_if_unavailable: "{{ item['skip_if_unavailable'] | default(true) }}"
  loop: "{{ repos }}"
  loop_control:
    label: "{{ item['name'] }}"
  become: true
  when: system_type in item['system_type']
  tags:
    - macos
    - repos

